
/* Let the form breathe a little */
.filter-form {
  margin-bottom: 15px;
}

/* Size of columns */
th.position.backbone, td.position.backbone {
  width: 150px;
}
th.position, td.position {
  width: 50px;
}
th.germplasm, td.germplasm {
  min-width: 60px;
}

td.germplasm {
  text-align: center;
}

/* Fieldset Styling */
span.stages {
  width: 45px;
  float: left;
  position: relative;
  top: -5px;
  padding-right: 5px;
  font-size: 32px;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #314355;
}
#edit-submit {
  margin-left: 45px;
}

/* Element Styling */
.form-textarea-wrapper {
  margin-right: 45px;
}

input#edit-project-name {
  width: 100%;
}
.form-item-project-name {
  margin-right: 55px;
}

.form-item-variant-type select, .form-item-marker-type select {
  width: 300px;
}

/* Seq Range Element Styling */
.seq-range-element {
  margin-right: 45px;
}
.seq-range-element .form-item {
  margin-bottom: 2px;
}
.seq-range-element .start-elements, .seq-range-element .end-elements {
  display: inline-flex;
  flex-direction: row;
  width: 50%;
}
.seq-range-element .form-type-item {
  font-weight: normal;
  font-style: italic;
  padding-right: 10px;
  width: 45px;
}
.end-elements .form-type-item {
  padding-left: 10px;
}
.seq-range-element input {
  display: block;
  width: 90%;
}

/* Colour coding of alleles */
td.genotype.A, td.genotype.AA {
  border-color: #9BC456;
  background-color: #9BC456;
  font-weight: bold;
}
td.genotype.T, td.genotype.TT {
  border-color: #106050;
  background-color: #106050;
  color: #E6E6E6;
}
td.genotype.G, td.genotype.GG {
  border-color: #6C2EAA;
  background-color: #6C2EAA;
  color: #E6E6E6;
}
td.genotype.C, td.genotype.CC {
  border-color: #409EB5;
  background-color: #409EB5;
  font-weight: bold;
}

/* Style the go to first page link */
.gotofirst {
  font-style: italic;
  position: relative;
  top: -36px;
}

/* Style the Download/Sort links */
.matrix-controls {
  display: inline-flex;
  position: relative;
  top: 10px;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.matrix-counts {
  text-align: center;
  font-weight: 900;
  color: #45980C;
}
.matrix-counts .ajax-waiting {
  color: #999999;
  font-style: italic;
}
.matrix-counts .ajax-progress {
  color: #999999;
  font-style: italic;
}
.matrix-sort {
  margin-right: 5px;
}
.matrix-sort a.current {
  text-decoration: underline;
  font-weight: bold;
}
