
#genotype {
  font-weight: bold;
}

#genotype.A {
  color: green;
}
#genotype.T {
  color: red;
}
#genotype.G {
  color: black;
}
#genotype.C {
  color: blue;
}

/**
 * Feature Genotype Pane
 */
table#tripal_feature-variant_genotypes tr td.layout {
  border: none;
  border-top: 1px solid #F3F3F3;
  border-bottom: 1px solid #F3F3F3;
  background: white;
}

table#tripal_feature-variant_genotypes tr td.layout.genotypes-pie {
  width: 300px;
  margin-right: 25px;
  margin-left: 50px;
}
p#genotypes.no-alleles {
  font-style: italic;
  color: #7D7D7D;
}

/**
 * Feature Sequence Pane
 */

#tripal_feature-fasta-record {
  /* Change the background of the FASTA records to make them stand out more
  background-color: #E0E0E0; */
}
#tripal_feature-sequence-header {
  font-family: monospace;
  font-size: medium;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
#tripal_feature-sequence-residues {
  width: 400px;
  word-wrap: break-word;
  margin: 0;
  letter-spacing:2px;
  padding-top: 0;
  margin-top: 0;
  background-color: transparent;
}

.variant-marked-up-sequence .variant {
  font-weight: bold;
  font-size: 1.25em;
}

/* Alleles for flanking markers/variants (ie: W ) */
.variant-marked-up-sequence .variant-IUPAC a {
  color: #525252;
}

/* Alleles for the given marker/variant  (ie: [A/G] )*/
.variant-marked-up-sequence .variant-expanded a { }

/**
 * Genotype Matrix View
 */
#edit-add-germplasm-genotype-wrapper {
  padding: 10px;
  border: 1px solid #CCCCCC;
  width: 100%;
}

/* Stock (name/org) Exposed Widget */
.views-exposed-widget .form-item-add-germplasm-genotype-add-stock {
  margin: 0;
}
.views-exposed-widget .form-item-add-germplasm-genotype-add-stock-stock-name{
  margin: 0;
}
.views-exposed-widget .form-item-germplasm-genotype-stock-name {
  margin: 0;
}
.views-widget .organism-stock-element {
  display: inline;
}
.organism-stock-element label {
  display: inline;
  margin-right: 5px;
}
.organism-stock-element .form-item {
  display: inline;
}
.organism-stock-organism_id {
  margin-left: 15px;
}

/* Polymorphic exposed widget */
.views-exposed-widget .form-type-pairwise-compare-germplasm .form-item {
  display: inline;
}